<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://source.unsplash.com/1080x720/?home"
       alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>

    <p class="card-text">Some quick example text to build on the card title and make
      up the bulk of the card's content.</p>
    <hr>
    <span class="float-left btn btn-sm btn-outline-danger disabled">400.000fcfa</span>
    <span class="btn btn-sm text-center disabled ">Il y'a 23j </span>
    <a href="#" class="btn btn-primary btn btn-sm float-right">Reserver</a>
  </div>
</div>
